### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.versionsBackup

### Node / NPM ###
node_modules/
dist/
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.attach*

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Others ###
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

### VueJS local env files ###
.env.local
.env.*.local

### Log Files ###
*.log

### Firebase ###
.firebaserc
.firebase

privatekey.pem
