<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Bootstrap Admin Theme</title>

  <!-- Bootstrap Core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="../vendor/pikaday/css/pikaday.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../vendor/sb-admin/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <style>
    .modal-backdrop {
      z-index: 990;
    }

    .modal {
      z-index: 990;
    }

    .dropdown-menu {
      z-index: 1010;
    }

    .dropdown-backdrop {
      z-index: 1000;
    }

    .navbar-static-top {
      z-index: 1010;
    }

    [v-cloak] {
      display:none;
    }
  </style>

</head>

<body>

<div id="wrapper">

  <!-- Navigation -->
  <nav th:fragment="navigation" class="navbar navbar-default navbar-static-top" role="navigation"
       style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-brand" href="/pages/dashboard">reLinkR</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
      <!-- /.dropdown -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
          </li>
          <li class="divider"></li>
          <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a></li>
        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li class="sidebar-search">
            <!-- New Link Dialog -->
            <div id="new_link_form">
              <button class="btn btn-primary" data-toggle="modal" data-target="#newLinkModal" v-on:click="onNewLink">New Link</button>
              <div class="modal fade" id="newLinkModal" tabindex="-1" role="dialog"
                   aria-labelledby="newLinkModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="newLinkModalLabel">Add New Link</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-lg-10">
                          <form role="form">
                            <div class="form-group input-group">
                              <label>Long URL</label>
                              <span class="input-group-addon glyphicon glyphicon-link"></span>
                              <input class="form-control" placeholder="https://google.com" v-model="longUrl">
                            </div>
                            <div class="form-group input-group">
                              <label>UTM parameters</label>
                              <input class="form-control" placeholder="UTM Source" v-model="utmSource">
                              <input class="form-control" placeholder="UTM Medium" v-model="utmMedium">
                              <input class="form-control" placeholder="UTM Campaign" v-model="utmCampaign">
                              <input class="form-control" placeholder="UTM Term" v-model="utmTerm">
                              <input class="form-control" placeholder="UTM Content" v-model="utmContent">
                            </div>
                          </form>
                          <div class="alert alert-danger alert-dismissable" v-if="errors.length">
                            <b>Please correct the following error(s):</b>
                            <ul>
                              <li v-for="error in errors">{{ error }}</li>
                            </ul>
                          </div>
                          <div class="alert alert-success alert-dismissable" v-if="!_.isEmpty(shortLink)">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <span>{{ shortLink }}</span>
                            <a href="#" class="alert-link">Alert Link</a>.
                          </div>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" v-on:click="onSaveLink">Save</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
            </div>
          </li>
          <li>
            <a href="/pages/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
          </li>
          <li>
            <a href="/pages/links"><i class="fa fa-link fa-fw"></i> Links</a>
          </li>
          <li>
            <a href="/pages/stats"><i class="fa fa-bar-chart-o fa-fw"></i> Stats</a>
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>

</div>
<!-- /#wrapper -->

<!-- Footer -->
<footer th:fragment="footer" class="footer panel-footer">
  <!--/*  Multiple fragments may be defined in one file */-->
  <div th:align="center">&copy; <span
      th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2018</span>
    <span>My Awesome App</span>
  </div>

  <!-- jQuery -->
  <script src="../vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="../vendor/metisMenu/metisMenu.min.js"></script>

  <!-- Chart.js JavaScript -->
  <script src="../vendor/chart.js/Chart.min.js"></script>

  <!-- VueJS - development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>

  <!-- Pikaday -->
  <script src="../vendor/pikaday/js/pikaday.js"></script>

  <!-- LoadAsh -->
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="../vendor/sb-admin/js/sb-admin-2.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="../app/js/regex-weburl.js"></script>

  <script>
    new Vue({
      el: '#new_link_form',
      data: {
        errors: [],
        shortLink: '',
        longUrl: '',
        utmSource: '',
        utmMedium: '',
        utmCampaign: '',
        utmTerm: '',
        utmContent: ''
      },

      mounted: function() {
        this.newLinkModal = $("#newLinkModal");
      },

      methods: {
        onNewLink: function () {
          this._reset();
        },

        onSaveLink: function () {
          this.errors = [];

          // Validate longUrl
          if (!this._isValidUrl(this.longUrl)) {
            this.errors.push("Base URL is empty or invalid");
          }

          // Validate UTM parameters
          var utmParameters;
          if (_.isEmpty(this.utmSource) && _.isEmpty(this.utmMedium) && _.isEmpty(this.utmCampaign)) {
            utmParameters = null;
          } else if (!_.isEmpty(this.utmSource) && !_.isEmpty(this.utmMedium) && !_.isEmpty(this.utmCampaign)) {
            utmParameters = {
              utmSource: this.utmSource,
              utmMedium: this.utmMedium,
              utmCampaign: this.utmCampaign,
              utmTerm: this.utmTerm,
              utmContent: this.utmContent
            };
          } else {
            if (_.isEmpty(this.utmSource)) {
              this.errors.push("UTM is empty");
            }
            if (_.isEmpty(this.utmMedium)) {
              this.errors.push("UTM is empty");
            }
            if (_.isEmpty(this.utmCampaign)) {
              this.errors.push("UTM is empty");
            }
          }

          if (!_.isEmpty(this.errors)) {
            return;
          }

          // Create new link
          var body = {
            longUrl: this.longUrl,
            utmParameters: utmParameters
          };

          this.$http.post("/api/links", body).then(
              function (response) {
                console.log(response);
                this.shortLink = _.get(response, "body._links.shortLink.href");
                this.newLinkModal.modal("hide");
                this._reset();
              },
              function (response) {
                console.error(response);
                this.errors.push(_.get(response, "body.detailMessage"));
              }
          );
        },

        _isValidUrl: function(url) {
          if (_.isEmpty(url)) {
            return false;
          }
          return RE_WEBURL.test(url);
        },

        _reset: function() {
          this.longUrl = '';
          this.utmSource = '';
          this.utmMedium = '';
          this.utmCampaign = '';
          this.utmTerm = '';
          this.utmContent = '';
          this.errors = [];
          this.shortLink = '';
        }
      }
    })
  </script>
</footer>

</body>
</html>
