<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: header"/>

<body>

<div id="wrapper">

  <!-- Navigation -->
  <nav th:replace="fragments/layout :: navigation"/>

  <div id="page-wrapper">

    <!-- Page header -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Links</h1>
      </div>
    </div>

    <!-- Links -->
    <div id="link-list" v-cloak>
      <div class="row" v-for="link in links" :key="link._links.self.href">

        <!-- Link -->
        <div class="col-lg-4">
          <div class="panel panel-green">
            <div class="panel-heading"><a v-bind:href="link.longUrl" target="_blank">{{ link._links.shortLink.href }}</a></div>
            <!-- .panel-heading -->
            <div class="panel-body">
              <div class="panel-group" id="accordion">

                <div class="alert alert-success alert-dismissible" role="alert" v-if="link.state.saved">
                  <button type="button" class="close" aria-label="Close" v-on:click="link.state.saved = false"><span aria-hidden="true">&times;</span></button>
                  <span>Link has been successfully saved.</span>
                </div>

                <div class="alert alert-danger alert-dismissible" role="alert" v-if="!_.isEmpty(link.state.error)">
                  <button type="button" class="close" aria-label="Close" v-on:click="link.state.error = null"><span aria-hidden="true">&times;</span></button>
                  <span>{{ link.state.error }}</span>
                </div>

                <!-- Long Url -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" v-bind:href="'#collapse-url-' + link.id">Long Url</a>
                    </h4>
                  </div>
                  <div v-bind:id="'collapse-url-' + link.id" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="input-group">
                        <input type="text" class="form-control" aria-label="Long Url" aria-describedby="inputGroup-sizing-sm" v-model="link.longUrl">
                        <div class="input-group-append">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- UTM Parameters -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" v-bind:href="'#collapse-utm-' + link.id">UTM
                        Parameters</a>
                    </h4>
                  </div>
                  <div v-bind:id="'collapse-utm-' + link.id" class="panel-collapse collapse">
                    <div class="panel-body">
                      <!-- UTM Source -->
                      <div class="input-group">
                        <label>UTM Source</label>
                        <input type="text" class="form-control" aria-label="Long Url" aria-describedby="inputGroup-sizing-sm" v-model="link.utmParameters.utmSource">
                      </div>

                      <!-- UTM Medium -->
                      <div class="input-group">
                        <label>UTM Medium</label>
                        <input type="text" class="form-control" aria-label="Long Url" aria-describedby="inputGroup-sizing-sm" v-model="link.utmParameters.utmMedium">
                      </div>

                      <!-- UTM Campaign -->
                      <div class="input-group">
                        <label>UTM Campaign</label>
                        <input type="text" class="form-control" aria-label="Long Url" aria-describedby="inputGroup-sizing-sm" v-model="link.utmParameters.utmCampaign">
                      </div>

                      <!-- UTM Term -->
                      <div class="input-group">
                        <label>UTM Term</label>
                        <input type="text" class="form-control" aria-label="Long Url" aria-describedby="inputGroup-sizing-sm" v-model="link.utmParameters.utmTerm">
                      </div>

                      <!-- UTM Content -->
                      <div class="input-group">
                        <label>UTM Content</label>
                        <input type="text" class="form-control" aria-label="Long Url" aria-describedby="inputGroup-sizing-sm" v-model="link.utmParameters.utmContent">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" v-bind:href="'#collapse-stats-' + link.id">Statistics</a>
                    </h4>
                  </div>
                  <div v-bind:id="'collapse-stats-' + link.id" class="panel-collapse collapse">
                    <div class="panel-body">
                      <canvas v-bind:id="'link-stats-' + link.id"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- .panel-body -->
          </div>
          <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->

    </div>
    <!-- /#link-list -->
  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<footer th:replace="fragments/layout :: footer"/>

<script>
  new Vue({
    el: '#link-list',

    data: {
      links: [],
      page: {
        size: 10,
        number: -1,
        totalElements: 0,
        totalPages: 0
      }
    },

    computed: {
      pageRequest: function () {
        if (this.page.number < 0) {
          return {size: this.page.size, page: 0};
        }
        if (this.page.number < this.page.totalPages) {
          return {size: this.page.size, page: this.page.number + 1};
        }
        return {size: 0, page: 0};
      }
    },

    mounted: function () {
      this.listLinks();
      console.log(this.$refs);
    },

    methods: {
      listLinks: function () {
        var config = {
          params: this.pageRequest
        };
        this.$http.get("/api/links", config).then(
            function (response) {
              this.page = _.get(response, "body.page", {size: 0, number: 0, totalElements: 0, totalPages: 0});
              var links = _.get(response, "body._embedded.links", []);

              _.forEach(links, function (link) {
                // Initialize view state
                link.state = {
                  saved: false,
                  error: null
                };

                // Initialize UTM parameters when missing
                link.utmParameters = _.defaultTo(link.utmParameters, {});
              });

              // Update model
              this.links = _.concat(this.links, links);

              // Attach link watchers
              var vm = this;
              _.forEach(this.links, function (link) {
                vm._attachLinkWatchers(link);
              });

              // Render charts after the next DOM update cycle
              this.$nextTick(function () {
                _.forEach(vm.links, function (link) {
                  new Chart("link-stats-" + link.id, {
                    type: 'bar',
                    data: {
                      datasets: [{
                        label: "# of clicks",
                        data: [10, 20, 35, 20, 42, 25, 80]
                      }],
                      labels: ['2018-03-06', '2018-03-07', '2018-03-08', '2018-03-09', '2018-03-10', '2018-03-11', '2018-03-12'],
                    }
                  });
                });
              });

              console.log(this.links);
            },
            function (response) {
              console.error(response);
            }
        );
      },

      addTag: function (link) {

      },

      removeTag: function (link) {

      },

      updateLinkStatus: function (link) {

      },

      updateLongUrl: function (link, longUrl) {
        var linkHref = link._links.self.href;
        console.log(linkHref, longUrl);
        this.$http.patch(linkHref, {longUrl: longUrl}).then(
            function (response) {
              this._setLinkSaved(link);
              console.log(link);
            },
            function (response) {
              var error = _.get(response, "body.detailMessage", "Error");
              this._setError(link, error);
              console.error(error);
            }
        );
      },

      updateUtmParameters: function (link, utmParameters) {
        var linkHref = link._links.self.href;
        console.log(linkHref, utmParameters);
        this.$http.patch(linkHref, {utmParameters: utmParameters}).then(
            function (response) {
              this._setLinkSaved(link);
              console.log(link);
            },
            function (response) {
              var error = _.get(response, "body.detailMessage", "Error");
              this._setError(link, error);
              console.error(error);
            }
        );
      },

      archiveLink: function (link) {

      },

      activateLink: function (link) {

      },

      _attachLinkWatchers: function (link) {
        // Watch longUrl changes
        this.$watch(
            function () {
              return link.longUrl;
            },
            function (newVal, oldVal) {
              if (this._isValidUrl(newVal)) {
                this.updateLongUrl(link, newVal);
              } else {
                this._setError(link, "Invalid URL");
              }
            }
        );

        // Watch utmParameters' changes
        this.$watch(
            function () {
              return link.utmParameters;
            },
            function (newVal, oldVal) {
              this.updateUtmParameters(link, newVal);
            },
            {
              deep: true
            }
        );
      },

      _isValidUrl: function(url) {
        if (_.isEmpty(url)) {
          return false;
        }
        return RE_WEBURL.test(url);
      },

      _setError: function (link, error) {
        link.state = {
          saved: false,
          error: error
        };
      },

      _setLinkSaved: function (link) {
        link.state = {
          saved: true,
          error: null
        };
      }
    }
  })
</script>

</body>

</html>
