<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: header"/>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav th:replace="fragments/layout :: navigation"/>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Stats</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Date Range</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- startDate -->
                            <div class="form-group input-group">
                                <label>Start Date</label>
                                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                <input id="startDate" class="form-control" placeholder="2019-03-13" v-model="startDate">
                            </div>
                            <!-- endDate -->
                            <div class="form-group input-group">
                                <label>End Date</label>
                                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                <input id="endDate" class="form-control" placeholder="2019-03-13" v-model="endDate">
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Long URL</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="form-group input-group">
                                <input class="form-control" placeholder="Domain" v-model="domain">
                                <input class="form-control" placeholder="Path" v-model="path">
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">UTM Parameters</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="form-group input-group">
                                <input class="form-control" placeholder="UTM Source" v-model="utmSource">
                                <input class="form-control" placeholder="UTM Medium" v-model="utmMedium">
                                <input class="form-control" placeholder="UTM Campaign" v-model="utmCampaign">
                                <input class="form-control" placeholder="UTM Term" v-model="utmTerm">
                                <input class="form-control" placeholder="UTM Content" v-model="utmContent">
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Aggregated Clicks</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <canvas id="chart-aggregated-clicks"></canvas>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <footer th:replace="fragments/layout :: footer"/>

    <script>
      new Chart("chart-aggregated-clicks", {
        type: 'line',
        data: {
          datasets: [{
            label: "# of clicks",
            data: [10, 20, 30, 40, 50, 60, 20, 50, 60, 70, 80, 10]
          }],
          labels: ['2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02'],
        },
        options: {
          responsive: true
        }
      });

      new Pikaday({
        field: $('#startDate')[0],
        format: 'YYYY-MM-DD'
      });

      new Pikaday({
        field: $('#endDate')[0],
        format: 'YYYY-MM-DD'
      });
    </script>

</body>

</html>
